.die {
    width: 5em;
    height: 5em;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px #00000033;
    cursor: pointer;
}

.is-held {
    background-color: #c92275;
    color: #fff;
}

.not-held {
    background-color: #fff;
    color: #242424;
}

img {
    height: 100%;
}

@media (max-height: 750px) {
    .die {
        width: 4em;
        height: 4em;
    }
}
